<h1>{{title}}</h1>
<body>
<p>Hey, {{string}}! That being said, please tell me what city you're from so I can make a GET request.</p>
<form method="POST" action="/post-it">
    City: <input type="text" name="city"/><button type="submit">weird question but okay</button>
</form>
</body>